<launch>
    <node
        pkg="rosbag_record"
        type="record"
        name="rosbag_record"
        respawn="true"
        respawn_delay="1"
        args="">
        <param name="output_prefix" value="$(env HOME)/.ros/log/latest/rosbag/latest/rosbag"/>
        <param name="split" value="true"/>
        <param name="duration" value="60"/>
        <param name="max_splits" value="11"/>
        <rosparam param="topics">
          [ /rosout, /yyy, /zzz ]
        </rosparam>
    </node>
</launch>
