<launch>
  <arg
    name="exclude_topics"
    default="/rosout|(.*)/image_raw|/velodyne_(.*)_manager(.*)|(.*)/velodyne_points"
  />
  <arg
    name="topic_opt"
    default="-e '/(.*)' -x '$(arg exclude_topics)'"
  />

  <arg
    name="output_opt"
    default="-o $(env HOME)/.ros/log/latest/rosbag/latest/rosbag"
  />
　　<arg
    name="split_opt"
    default="--split --duration=60 --max-splits 11"
  />
    <node
        pkg="rosbag_record"
        type="record"
        name="rosbag_record"
        respawn="true"
        respawn_delay="1"
        args="">
        <param name="output_prefix" value="$(env HOME)/.ros/log/latest/rosbag/latest/rosbag"/>
        <param name="split" value="true"/>
        <param name="duration" value="60"/>
        <param name="max_splits" value="11"/>
        <rosparam command="load" file="$(env HOME)/ros/rosbag/src/rosbag/launch/param.yml"/>
    </node>
    <node pkg="drive_recorder" name="drive_recorder" type="drive_recorder_node" output="screen"     respawn="true" respawn_delay="1">
        <param name="before_time" value="600"/>
        <param name="after_time" value="60"/>
        <param name="bag_period" value="60"/>
        <param name="poling_interval" value="2"/>
        <param name="log_dir" value="$(env HOME)/.ros/log/latest/rosbag/"/>
        </node>
    <node pkg="drive_recorder" name="test_drive_recorder" type="test_drive_recorder" output="screen"/>
</launch>
